torch==1.13.0
torchvision
torch-geometric
tqdm
ogb
networkx
pytest
torchdrug
pyyaml
easydict
git+https://github.com/rusty1s/pytorch_scatter.git
git+https://github.com/rusty1s/pytorch_sparse.git
git+https://github.com/rusty1s/pytorch_cluster.git
# torch-scatter
# torch-sparse
# torch-spline-conv